{% extends 'layouts/base.html.twig' %}

{% block title %}Mot de pase oublié{% endblock %}

{% block body %}
<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Réinitialisation du mot de passe</h1>
              <span class="color-text-a">Sociéte d'équipement immobilier de Madagascar</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ path('app_home' )}}">Accueil </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Mot de pase oublié</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez ton adress mail pour la vérification
            </small>
        </div>

        <button class="btn btn-primary">Envoyer l'email</button>
    {{ form_end(requestForm) }}
{% endblock %}
