<div class="row">
{% if properties is not empty %}
        {% for property in properties %}
            <div class="col-md-4 mb-4">
                <div class="card-box-b card-shadow news-box">
                    <div class="img-box-b">
                        <a href="{{ asset('assets/img/' ~ property.Lien) }}" target="_blank">
                            <img src="{{ asset('assets/img/' ~ property.Lien) }}" alt="{{ property.title }}" class="img-b img-fluid">
                        </a>
                    </div>
                    <div class="card-overlay">
                        <div class="card-header-b">
                            <div class="card-category-b">
                                <span class="category-b">{{ property.formatedPrice }} MGA</span>
                            </div>
                            <div class="card-title-b">
                                <h2 class="title-2">
                                    <a href="{{ path('app_property_show', {'id': property.id, 'slug': property.slug}) }}">
                                        {{ property.title }}
                                    </a>
                                </h2>
                            </div>
                            <div class="card-date">
                                <span class="date-b">{{ property.getFormattedCreatedAt() }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12">
                <p class="text-center">Pas de résultat</p>
            </div>
        {% endfor %}
        {% endif %}
    </div>