<section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">SEIMAD SA</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Sociéte d'équipement immobilier de Madagascar
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Téléphone .</span> 020 85 202 98
                <li class="color-a">
                  <span class="color-text-a">Mail .</span> seimad@seimad.mg
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">SEIMAD SA</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Actualité</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Présentaion</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Nos projets</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Partenaire</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="{{ path('app_presentation')}}">Trophées</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Site Nationale</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Antananarivo</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Toamasina</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Mahajanga</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Antsiranana</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Fianarantsoa</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i>Toliara</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{{ path('app_home')}}">Accueil</a>
              </li>
              <li class="list-inline-item">
                <a href="{{ path('app_contact')}}">Contact</a>
              </li>
              <li class="list-inline-item">
                <a href="{{ path('app_property')}}">Propriétes</a>
              </li>
              <li class="list-inline-item">
                <a href="{{path('app_actualite_index')}}">Actualités</a>
              </li>
              <li class="list-inline-item">
                <a href="{{ path('app_presentation' )}}">Présentaion</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="bi bi-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright SEIMad © 2020
              <span class="color-a">SEIMAD SA MADAGASCAR</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>