{% set currentRoute = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container"> 
    <a class="navbar-brand text-brand" href="{{ path('app_home') }}">SEIMAD<span class="color-b" style="color : #0565f7;">SA</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if currentRoute == 'app_home' %}active {% endif %}" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentRoute == 'app_presentation' %} active {% endif %}" href="{{ path('app_presentation') }}">Présentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentRoute == 'app_property' %} active {% endif %}" href="{{ path('app_property') }}">Nos Projets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentRoute == 'app_actualite_index' %} active {% endif %}" href="{{ path('app_actualite_index') }}">Actualités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if currentRoute == 'app_contact' %} active {% endif %}" href="{{ path('app_contact') }}">Contact</a>
        </li>
      </ul>
    </div>

    <form class="form-inline my-2 my-lg-0 d-flex" role="search" action="{{ path('app_recherche') }}" method="GET" id="search-form">
      <div class="input-group">
        <input type="search" name="search" id="search-input" class="form-control form-control-lg form-control-a" placeholder="un mot clé">
        <div class="input-group-append">
          <button type="submit" class="btn btn-b-n">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-menu" id="search-suggestions" aria-labelledby="dropdownMenu2" style="display:none;">
          <!-- Les suggestions de recherche seront insérées ici -->
        </div>
      </div>
    </form>
  </div>
</nav>

<script>
document.getElementById('search-input').addEventListener('input', function() {
  let query = this.value;
  if (query.length >= 3) { // Commencez la recherche après 3 caractères
    fetch('{{ path('app_recherche') }}?search=' + query)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        let suggestions = document.getElementById('search-suggestions');
        suggestions.innerHTML = '';
        if (data.length > 0) {
          data.forEach(item => {
            let suggestionItem = document.createElement('a');
            suggestionItem.classList.add('dropdown-item');
            suggestionItem.textContent = item.title;
            suggestions.appendChild(suggestionItem);
          });
          suggestions.style.display = 'block';
        } else {
          suggestions.style.display = 'none';
        }
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  } else {
    document.getElementById('search-suggestions').style.display = 'none';
  }
});
</script>
